files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_s3upload.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      mail -s 'Starting deployment !!!' "k.devarapalli@investsmart.com.au" < /dev/null
#commands:
#  001_s3upload:
#    command: sh /opt/elasticbeanstalk/hooks/appdeploy/pre/01_s3upload.sh
