files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_s3upload.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #aws s3 cp /var/www/html/dist/ s3://er-eb-test/public/ --recursive --exclude "manifest*"
      #!/bin/bash
      #if [ "$Name" = "Sample-env" ];
      #  then
      #    echo $ENV_NAME > touch /var/app/ondeck/envname.txt
      #    aws s3 cp /var/www/html/public/ s3://er-eb-test/public/ --recursive
      #  else
      #    aws s3 cp /var/www/html/public/ s3://er-test/public/ --recursive
      #fi
      echo $ENV_NAME > touch /var/app/ondeck/envname.txt
