files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_s3upload.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #aws s3 cp /var/www/html/dist/ s3://er-eb-test/public/ --recursive --exclude "manifest*"
      #!/bin/bash
      if grep -w '/opt/elasticbeanstalk/support/envvars' -e 'Sample-env1';
        then
          echo "Exists" >> /tmp/test.txt
        else
          echo "Doesn't exist" >> /tmp/test.txt
      fi
