files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/91_downloadfroms3.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #mail -s 'Closing deployment !!!' "k.devarapalli@investsmart.com.au" < /dev/null
#commands:
#  099_copyfroms3:
#    command: sh /opt/elasticbeanstalk/hooks/appdeploy/post/91_downloadfroms3.sh
