container_commands: 
  set_permissions:
    command: |
      #!/bin/sh
      crontab -r
      #write out current crontab
      crontab -l > mycron
      #echo new cron into cron file
      echo "* * * * * /usr/bin/php /var/www/html/artisan schedule:run 1>> /dev/null 2>&1" >> mycron
      #install new cron file
      crontab mycron
      rm mycron